/* Header 样式 */
.site-header {
  background-color: #f8f8f8;
  padding: 10px 0;
  border-bottom: 2px solid #ddd;
}

.site-title {
  font-size: 28px;
  margin: 0;
  padding: 0 20px;
  color: #333;
}

/* 导航外框 */
.nav-box {
 background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px 0;       /* 左右 margin 改成 0，这样能铺满 */
  padding: 10px;
  width: 100%;          /* 铺满可视区宽度 */
  box-sizing: border-box;
}

/* 导航菜单 */
.site-nav {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.site-nav a {
  text-decoration: none;
  font-size:0.9rem;
  color: #333;
  padding: 6px 10px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

/* 鼠标悬停效果 */
.site-nav a:hover {
  background-color: #ff9800;
  color: white;
}

/* 当前页面高亮 */
.site-nav a.active {
  background-color: #ff9800;
  color: white;
}

/* Footer 样式 */
.site-footer {
  background-color: #f8f8f8;
  text-align: center;
  padding: 15px 0;
  margin-top: 20px;
  border-top: 2px solid #ddd;
}