/* Header */
.site-header {
  background-color: #eba732;
  padding: 10px 0;
  border-bottom: 20px solid #3bbecf;
}

.site-title {
  font-size: 50px;
  margin: 100;
  padding: 10px;
  color: #333;
}

/* navigation box */
.nav-box {
 background-color: #dabf8d;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(235, 232, 232, 0.1);
  margin: 10px 0;       
  padding: 10px;
  width: 100%;         
  box-sizing: border-box;
}

/* 导航菜单 */
.site-nav {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.site-nav a {
  text-decoration: none;
  font-size:2rem;
  color: #170ce3;
  padding: 6px 10px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

/* 鼠标悬停效果 */
.site-nav a:hover {
  background-color: #ff9800;
  color: rgb(74, 231, 231);
}

/* 当前页面高亮 */
.site-nav a.active {
  background-color: #ff9800;
  color: rgb(68, 5, 62);
}

/* Footer 样式 */
.site-footer {
  background-color: #f8f8f8;
  text-align: center;
  padding: 15px 0;
  margin-top: 20px;
  border-top: 2px solid #ddd;
}